Flask>=1.0.0
Flask-Assets>=0.12
cssmin>=0.2.0
jsmin>=2.2.2
flask-recaptcha>=0.4.1
flask-kvsession>=0.6.2
flask-s3>=0.3.3
flask-mail>=0.9.1
flask-caching>=1.7.2
flask-cloudy>=1.0.1
flask-seasurf>=0.2.2
flask-cors>=3.0.8
Active-Alchemy>=1.0.0
six>=1.9.0
passlib>=1.7.0,<1.8.0
bcrypt>=3.1.7
python-slugify>=4.0.0
humanize>=0.5.1
ses-mailer>=0.13.0
markdown==2.6.2
inflection==0.3.1
pyyaml>=4.2b1
click>=6.2
sh>=1.12.14
dicttoxml>=1.7.4
arrow>=0.15.2
blinker>=1.4
itsdangerous>=1.1.0
requests>=2.13.0
