<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    
    <title>{% block title %}{% endblock %}</title>

    {% assets "css/styles.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

  </head>

  <body>
    
    <header>
      {% block header %}{% endblock %}
    </header>
    
    <div class="container">
      {% block body %}{% endblock %}
    </div>

    <footer>
      {% block footer %}{% endblock %}
    </footer>

    {% assets "js/app.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
